 body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #000000; /* preto suave */
      color: white;
      text-align: center;
    }

    header {
      padding: 60px 20px 20px; /* Centralização */
    }

    .logo {
      width: 350px; 
      height: normal;
      
    }

    h1 {
      font-size: 2.5em;
      font-weight: 700;
      letter-spacing: 1px;/* Espaçamento entre letras */
      text-transform: uppercase; /* transforma todas as letras em maiúsculas */
      text-shadow: 0 2px 4px rgba(0,0,0,0.6);
      margin: 40px 0 20px;
      margin-top: 40px; /* Distancia entre h1 e logo */
      margin-bottom: 30px;
      text-align: center;
      color: #ffffff;
      grid-column: 1/-1;
    }

    h2{
      font-size: 1.3em;
      color: #ff4b4b;
      margin-top: 15px;
      margin-bottom: 40px;
      font-weight: 600;
      text-transform: uppercase;
    }

    .normal-case{
      text-transform: none;
      color: white;
      font-size: 1.8em;
      font-weight: 600;
    }

    p {
      font-size: 1em;
      color: #cccccc;
      line-height: 1.6;
      margin: 0 0 20px;
      text-align: left;
      word-spacing: normal;
    }

    .cta-button {
      padding: 15px 30px;
      font-size: 1em;
      background-color: #c00000; /* vermelho forte */
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background 0.3s ease;
    }

    .cta-button:hover {
      background-color: #ff1a1a;
    }

    .produto {
      background-color: #1a1a1a;
      padding: 15px;
      border-radius: 10px;
      text-align: center;
      box-shadow: 0 0 10px #00000050;
      display: flex; 
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }

    .produto img {
      
      
      object-fit: cover;
      border-radius: 5px;
      background-color: #000000;

    }
/* Define a area que contem cada produto */
    .container{
      
      display: grid; /* ativa o sistema de grid*/
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));/* Cria colunas automaticas */
      gap: 30px; /* espaçamento entre os produtos */
      padding: 20px;/* Espaço interno dentro dos containers */
      max-width: 1000px; /* Largura máxima da grade */
      margin: 0 auto;
      
    }